body{
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    
}

html, body{
    height: 100%;
}

 .resultBox, .roundsResults{
    border: 2px solid wheat;
    color: wheat;
    padding: 5px;
}



