body{
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    
}

html, body{
    height: 100%;
}

.boxOfButtons, .resultBox{
    border: 2px solid wheat;
}


